:root{
  --background-color: #F33D3D;
  --calc-one-color: #2C2C2C;
  --calc-two-color: #D6D6D6;
  --button-one-color: #FF3A3A;
  --button-two-color: #FF5454;
  --text-one-color: #FFFFFF;
  --text-two-color: #0D0D0D;
  
}
body{
  background-color: var(--calc-two-color);
}

.App {
  text-align: center;
}

.App-logo {
  height: 5vh;
  color: var(--calc-two-color);
  margin-left: 1.75rem;
}

.App-logo:hover{
  color: var(--calc-one-color);
}

.App-header {
  background-color:var(--background-color);
  box-shadow: 0 0.1875rem 0.375rem rgba(0,0,0,0.16), 0 0.1875rem 0.375rem rgba(0,0,0,0.24);
  min-height: 5vh;
  display:flex;
  color: white;
}

.App-rocket{
  width: 50vw;
}

.form-div {
  display: flex;
  background-color: #fff;
  width: 50vw;
  height: 50vh;
  min-width: 300px;
  min-height: 300px;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 5px 8px 5px #d8d8d8;
}

.form-pre-challenge-greeting {
  color: #1a1919;
  text-align: left;
  font-size: 2rem;
}
